$brand-main: #00204a;
$brand-main-fade: #00204a9b;
$brand-secondary: #005792;
$brand-secondary-fade: #00589277;
$brand-alt: #448ef6;
$brand-alt-fade: #448ef686;
$brand-accent: #fdb44b;
$brand-accent-fade: #fdb34b93;
