$brand-main: #293462;
$brand-main-fade: #29346281;
$brand-secondary: #a64942;
$brand-secondary-fade: #a64942ad;
$brand-alt: #fe5f55;
$brand-alt-fade: #fe6055a1;
$brand-accent: #fff1c1;
$brand-accent-fade: #fff1c19f;
