@import '../../../sass/variables';

@font-face {
	font-family: 'Special';
	src: url('../../fonts/BOSQUE.otf');
}

.header {
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_56,w_2088/v1587071745/lawoffice/j-zamora-GWOTvo3qq7U-unsplash_xthngq.jpg');
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow-y: hidden;
	& button {
		font-family: 'Montserrat';
		font-size: 1.4rem;
		&:hover {
			cursor: pointer;
		}
	}
	& .overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient(135deg, $brand-main 65%, #00204a67 0%);
	}

	& .container {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		width: 1500px;
		position: relative;
		z-index: 1;
		opacity: 0;
		animation: fadeIn 1.5s linear forwards;
		& .text_box {
			height: 100%;
			display: flex;
			align-items: center;
			& h1 {
				font-family: 'Special';
				color: $brand-accent;
				font-weight: 100;
				font-size: 7rem;
				margin: 0;
			}
			& h3 {
				color: $brand-alt-fade;
				font-family: 'Montserrat';
				font-weight: 200;
				font-size: 2rem;
				margin: 0;
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
