@import '../../../sass/variables';

.spinner {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 3px solid #eee;
	border-top: 3px solid $brand-main;
	border-bottom: 3px solid $brand-main;
	animation: spin 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
