@import '../../../sass/variables';

.checkbox {
	height: 1.3rem;
	min-width: 1.3rem;
	border: 5px solid #eee;
	display: block;
	transition: all 0.5s ease;
	border-radius: 3px;
	&:hover {
		cursor: pointer;
	}
}
.checked {
	height: 1.3rem;
	min-width: 1.3rem;
	background: $brand-main;
	border: 5px solid $brand-main;
	border-radius: 3px;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 10px lighten($brand-main, 10%);
	overflow: visible;
	&:hover {
		cursor: pointer;
	}
	& svg {
		fill: #fff;
		font-size: 1.2rem;
	}
}
