@import '../../../sass/variables';

@font-face {
	font-family: 'Special';
	src: url('../../fonts/wotfard.ttf');
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	border-top: 1px solid #eee;
	margin-top: 2rem;
	& .container {
		width: 1500px;
		max-width: 1500px;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		& .row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			& p {
				color: $brand-main;
				font-weight: 300;
			}
		}
		& .grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			justify-items: center;
			& .col {
				& h4 {
					font-family: 'Special';
					color: $brand-accent;
					font-weight: 100;
					font-size: 1.5rem;
				}
				& a {
					text-decoration: none;
					color: $brand-secondary;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		& .container {
			width: 80vw;

			& .grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
				justify-items: center;
				& .col {
					& h4 {
						font-size: 1.3rem;
					}
					& a {
						text-decoration: none;
						color: $brand-secondary;
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.footer {
		& .container {
			& .grid {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				justify-items: center;
				align-items: center;
				gap: 0;
				& .col {
					& h4 {
						font-size: 1.3rem;
						text-align: center;
					}
					& a {
						text-decoration: none;
						color: $brand-secondary;
						font-size: 0.9rem;
					}
					& p {
						text-align: center;
					}
				}
				& .col:nth-child(2) {
					order: 1;
				}
				& .col:nth-child(2) {
					order: 0;
				}
			}
		}
	}
}
